
simple-nav-bar li {
  margin: 12px 0px;  
  display: inline-block;
}

simple-nav-bar a {
  color: #888;
  padding: 4px 10px;
  text-decoration: none;
  font-weight: bold;
  border: solid 1px grey;
}

simple-nav-bar .active {
  background-color: blue;
  color: white;
}

